<template>
  <baseView>
    <div slot="main">
      <table>
        <tr v-for="(i, index) in data" :key="index">
          <td v-for="(j, index2) in i" :key="index2">{{ j }}</td>
        </tr>
      </table>
    </div>
  </baseView>
</template>

<script>
import axios from "axios";
import baseView from "@/components/baseView.vue";
export default {
  name: "Canvas",
  components: {
    baseView
  },
  data() {
    return {
      data: []
    };
  },
  created() {},
  mounted() {
    // this.getCode();
  },
  methods: {
    // getCode() {
    //   let params = {
    //     api_name: "stock_basic",
    //     token: "2280324e405a8bb58c385ed3b65a8900bb83168485f1838eb9b00bb0",
    //     params: {},
    //     fields: {}
    //   };
    //   let api = "http://api.tushare.pro";
    //   axios.default.timeout = 1000; //全局默认设置
    //   const instance = axios.create({
    //     timeout: 2000 //实例默认设置
    //   });
    //   //请求时的默认设置
    //   instance
    //     .post(api, params)
    //     .then(res => {
    //       this.data = res.data.data.items || [];
    //       console.log(this.data);
    //     })
    //     .catch(/*....*/);
    // }
  }
};
</script>
<style lang="less" scoped>
.main-canvas {
  height: 100%;
}
</style>
