.dce-title {
  width: 400px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  margin: 40px 0;
  background-color: #4682b4;
}
.content-container {
  width: 98%;
  margin: 0 auto;
}
 /* 工具栏 */
.content-container .tool-bar, .content-container .el-form-tool-bar{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.content-container .tool-bar .common-input-content label{
  font-size: 14px;
  color:#fff;
  margin-right: 10px;
}
.content-container .tool-bar .common-select {
  width: 200px;
  height: 30px;
}
.content-container .tool-bar .common-select input {
  width: 200px;
  height: 30px;
  background-color: #4682b4;
  color: #fff;
  border-color: #ccc;
}
.content-container .tool-bar .common-select .el-input__suffix i, 
.content-container .tool-bar .common-select .el-input__prefix i {
  line-height: 30px;
}
.content-container .el-form-tool-bar .search-btn{
  width:100px;
  height:30px;
  margin: 0 24px;
}
/* 表格 */
.content-container .table-container {
  width: 100%;
  height: 600px;
  margin-top: 20px;
}
.content-container .table-container tr {
  background-color: #4682b4;
  color: #fff;
}
.content-container .table-container tr:hover td {
  background-color: #1e90ff;
}
.content-container .table-container th {
  background-color: #1e90ff;
  color: #fff;
}