<template>
  <baseView>
    <div slot="main">
      <div class="kafka-topic-container content-container">
        <div class="title dce-title">1.5. 出入金监控</div>
        <div class="table-container">
          <el-table
            v-loading="isLoading"
            border
            :data="tableData"
            row-class-name="table-row-style"
            style="width: 100%"
          >
            <el-table-column
              v-for="(item, index) in tableHeadList"
              :key="index"
              align="left"
              :label="item.name"
            >
              <template slot-scope="scope">
                <span>{{ scope.row[item.value] }}</span>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
    </div>
  </baseView>
</template>

<script>
import axios from "axios";
import baseView from "@/components/baseView.vue";
export default {
  name: "Canvas",
  components: {
    baseView
  },
  data() {
    return {
      topic: 0,
      topicArr: [
        {
          label: "全部",
          value: 0
        },
        {
          label: "1",
          value: 1
        }
      ],
      isLoading: false,
      tableHeadList: [],
      tableData: []
    };
  },
  created() {},
  mounted() {
    this.getTableInit();
  },
  methods: {
    getTableInit() {
      this.getTableHead();
      this.getTableData();
    },
    getTableData() {
      this.$http.get("http://127.0.0.1:8000/man").then(res => {
        if (res && res.data && res.data) {
          this.tableData = res.data || [];
        }
      });
      this.tableData = [
        {
          index: 1,
          date: "2022-08-01 12:00:00",
          memberID: "sda1125631",
          money: "200.00",
          type: "出金",
          status: "发送银行"
        },
        {
          index: 2,
          date: "2022-08-03 12:00:00",
          memberID: "ggt123456",
          money: "2100.00",
          type: "入金",
          status: "上场"
        }
      ];
    },
    getTableHead() {
      this.tableHeadList = [
        { name: "序号", value: "index" },
        { name: "时间", value: "date" },
        { name: "会员号", value: "memberID" },
        { name: "金额", value: "money" },
        { name: "请求类型", value: "type" },
        { name: "状态", value: "status" }
      ];
    },
    selectChange() {
      this.getTableData();
    }
  }
};
</script>
<style lang="less" scoped>
.dce-title {
  width: 400px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  margin: 40px 0;
  background-color: #4682b4;
}
.content-container {
  width: 98%;
  margin: 0 auto;
}
.content-container .table-container {
  width: 100%;
  height: 600px;
  margin-top: 20px;
}
.content-container /deep/ .table-container tr {
  background-color: #4682b4;
  color: #fff;
}
.content-container /deep/ .table-container tr:hover td {
  background-color: #1e90ff;
}
.content-container /deep/ .table-container th {
  background-color: #1e90ff;
  color: #fff;
}
</style>
