<template>
  <baseView>
    <div slot="main">
      <div class="daily-process-container content-container ">
        <div class="title dce-title">系统状态</div>
        <div class="status">
          <div
            class="status-list"
            v-for="(item, index) in daily_status"
            :key="index"
            :style="{
              left: index == 6 ? (index - 1) * 220 + 'px' : index * 220 + 'px',
              top: index == 6 ? '80px' : 0,
              position: 'absolute'
            }"
          >
            <div
              :class="[
                'status-s',
                'status-s1',
                { 'not-start': index == 0 || index == 1 },
                { running: index > 1 && index < 5 },
                { completed: index == 6 || index == 5 }
              ]"
            >
              <el-tooltip class="item" effect="dark" placement="top">
                <div>{{ item.name }}</div>
                <div slot="content">
                  <p>{{ "开始时间 : " + item.startTime }}</p>
                  <p>{{ "结束时间 : " + item.endTime }}</p>
                </div>
              </el-tooltip>
            </div>
            <div
              v-if="index < 5"
              :class="[
                'arrow',
                { 'not-start': index == 0 },
                { running: index > 0 }
              ]"
            ></div>
            <div v-if="index == 5" :class="['running', 'last-arrow']"></div>
          </div>

          <!-- <div class="status-s not-start status-s2">{{ daily_status[1] }}</div>
          <div class="arrow not-start"></div>
          <div class="status-s running status-s3">{{ daily_status[2] }}</div>
          <div class="arrow running"></div>
          <div class="status-s running status-s4">{{ daily_status[3] }}</div>
          <div class="arrow running"></div>
          <div class="status-s running status-s5">{{ daily_status[4] }}</div>
          <div class="arrow running"></div>
          <div class="arrow2 running"></div>
          <div class="status-s completed status-s6">{{ daily_status[5] }}</div> -->
        </div>
        <!-- <div class="status2">
          <div class="blank"></div>
          <div class="status-s completed status-s7">{{ daily_status[6] }}</div>
        </div> -->
        <div class="dp-dashboard">
          <div class="dpdb dpdb-left">
            <div class="process">
              <div
                class="status-list"
                v-for="(item, index) in processList"
                :key="index"
              >
                <div
                  v-if="item.status == 'notStart'"
                  class="status-light not-start"
                ></div>
                <div
                  v-if="item.status == 'running'"
                  class="status-light running"
                ></div>
                <div
                  v-if="item.status == 'completed'"
                  class="status-light completed"
                ></div>
                <div class="s1">
                  <!-- <div class="con"> -->
                  <div class="status-name">{{ item.name }}</div>
                  <div class="status-date">{{ item.date }}</div>
                  <!-- </div> -->
                </div>
                <div class="status-msg">{{ item.msg }}</div>
              </div>
            </div>
          </div>
          <div class="dpdb dpdb-right">
            <div id="chart"></div>
          </div>
        </div>
      </div>
    </div>
  </baseView>
</template>

<script>
import axios from "axios";
import baseView from "@/components/baseView.vue";
import * as echarts from "echarts";
export default {
  name: "Canvas",
  components: {
    baseView
  },
  data() {
    return {
      daily_status: [
        {
          name: "初始化完成",
          status: "notStart",
          startTime: "2022-05-02 14:10:20",
          endTime: "2022-08-01 18:00:00"
        },
        {
          name: "盘中",
          status: "notStart",
          startTime: "2022-05-02 14:10:20",
          endTime: "2022-08-01 18:00:00"
        },
        {
          name: "闭市及闭市后处理",
          status: "running",
          startTime: "2022-05-02 14:10:20",
          endTime: "2022-08-01 18:00:00"
        },
        {
          name: "结算",
          status: "running",
          startTime: "2022-05-02 14:10:20",
          endTime: "2022-08-01 18:00:00"
        },
        {
          name: "出金",
          status: "running",
          startTime: "2022-05-02 14:10:20",
          endTime: "2022-08-01 18:00:00"
        },
        {
          name: "结算完成",
          status: "completed",
          startTime: "2022-05-02 14:10:20",
          endTime: "2022-08-01 18:00:00"
        },
        {
          name: "结算文件生成",
          status: "completed",
          startTime: "2022-05-02 14:10:20",
          endTime: "2022-08-01 18:00:00"
        }
      ],
      processList: [
        {
          name: "moneyfield",
          msg: "最后出金结束，成功结束",
          date: "20200820 15:52:30",
          status: "notStart"
        }
      ],
      option: {
        xAxis: {
          type: "category",
          axisLabel: { interval: 0 },
          axisLine: {
            lineStyle: { color: "#fff" }
          },
          axisTick: {
            show: false
          },
          data: []
        },
        yAxis: {
          type: "value",
          name: "单位（秒）",
          axisLine: {
            lineStyle: { color: "#fff" }
          },
          axisLabel: {
            formatter: "{value}s"
          }
        },
        tooltip: {
          show: true,
          backgroundColor: "#4169e1",
          borderColor: "#4169e1",
          textStyle: {
            color: "#fff",
            align: "left"
          },
          formatter: function(v) {
            console.log(v);
            return `<span>今天<span> <br>
            <span>时间 &nbsp; &nbsp;  ${v.value}s<span>`;
          }
        },
        series: [
          {
            data: [120, 200, 150, 80, 70, 110, 130],
            type: "bar",
            barWidth: "40%",
            itemStyle: {
              //通常情况下：
              normal: {
                //每个柱子的颜色即为colorList数组里的每一项，如果柱子数目多于colorList的长度，则柱子颜色循环使用该数组
                color: function(params) {
                  var colorList = [
                    "#c0c0c0",
                    "#c0c0c0",
                    "#32cd32",
                    "#32cd32",
                    "#32cd32",
                    "#1e90ff",
                    "#1e90ff"
                  ];
                  return colorList[params.dataIndex];
                }
              }
            }
          }
        ]
      }
    };
  },
  created() {},
  mounted() {
    this.getInit();
  },
  methods: {
    getInit() {
      this.handleStatusProcess();
      this.initChart();
    },
    handleStatusProcess() {
      for (let i = 0; i < 12; i++) {
        let item = {
          name: "moneyfieldi" + i,
          msg: "结束最后出金结束，成功结成功结束最后出金功结",
          date: new Date().toDateString(),
          status: "notStart"
        };
        this.processList.push(item);
      }
    },
    initChart() {
      let chartDom = document.getElementById("chart");
      let myChart = echarts.init(chartDom);

      this.$nextTick(() => {
        let nameArr = this.daily_status.map(i => i.name);
        this.option.xAxis.data = nameArr;
        console.log(this.option);
        myChart.setOption(this.option);
      });
    }
  }
};
</script>
<style lang="less" scoped>
.content-container {
  width: 98%;
  margin: 0 auto;
}
.dce-title {
  width: 400px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  margin-top: 40px;
  background-color: #4682b4;
}
.daily-process-container .status {
  width: 96%;
  height: 140px;
  margin: 20px auto;
  position: relative;
}
.daily-process-container .status .status-s {
  width: 140px;
  height: 45px;
  border-radius: 2px;
  line-height: 45px;
  color: #fff;
}
.daily-process-container .status .status-list {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
}
.daily-process-container .status .arrow {
  width: 80px;
  height: 2px;
  position: relative;
}
.daily-process-container .status .arrow:after {
  content: "";
  width: 9px;
  height: 12px;
  position: absolute;
  right: 0;
  top: -5px;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}
.daily-process-container .status .last-arrow {
  width: 50px;
  height: 100px;
  position: absolute;
  left: -50px;
  top: 20px;
  // clip-path: polygon(0 1px, 0px 98px, 42px 98px, 42px 100px, 2px 100px, 2px 0);
  clip-path: polygon(
    0% 2px,
    0% 83px,
    41px 83px,
    41px 88px,
    100% 82px,
    41px 76px,
    41px 80px,
    3px 80px,
    3px 2px
  );
}
.daily-process-container .status .last-arrow:after {
  top: 100px;
}
.daily-process-container .status .not-start,
.daily-process-container .status .not-start:after {
  background: #c0c0c0;
}
.daily-process-container .status .running,
.daily-process-container .status .running:after {
  background: #32cd32;
}
.daily-process-container .status .completed,
.daily-process-container .status .completed:after {
  background: #1e90ff;
}
.daily-process-container .dp-dashboard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.daily-process-container .dp-dashboard .dpdb {
  width: 49.5%;
  height: 700px;
  background: #4169e1;
  overflow: auto;
}

.daily-process-container .dp-dashboard .dpdb .process {
  width: 85%;
  margin: 20px auto;
}
.daily-process-container .dp-dashboard .dpdb .process .status-list {
  width: 100%;
  height: 70px;
  border-left: 1px solid #ccc;
  display: flex;
  justify-content: flex-start;
}
.daily-process-container
  .dp-dashboard
  .dpdb
  .process
  .status-list:nth-last-of-type(1) {
  border-left: none;
}

.daily-process-container .dp-dashboard .dpdb .process .s1 {
  width: 150px;
  margin-left: 20px;
  text-align: left;
  color: #fff;
  font-size: 16px;
}
.daily-process-container .dp-dashboard .dpdb .process .status-light {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  flex: 0 0 20px;
  position: relative;
  left: -10px;
  background-color: #32cd32;
}
.daily-process-container .dp-dashboard .dpdb .process .status-msg {
  width: 70%;
  text-align: left;
  color: #fff;
  font-size: 14px;
}
.daily-process-container .dp-dashboard .dpdb .process .status-date {
  color: #ccc;
  font-size: 14px;
  margin-top: 10px;
  text-align: left;
}
/**chart***/
.daily-process-container #chart {
  width: 96%;
  height: 700px;
}
.daily-process-container /deep/ .t-left {
  text-align: left;
}
</style>
