<template>
  <baseView>
    <div slot="main">
      <div class="warning-msg-container content-container">
        <div class="title dce-title">清算7.0告警</div>

        <div class="tab-bar">
          <div
            :class="['tab', { current: currentTab == '1' }]"
            @click="changeTab('1')"
          >
            业务告警
          </div>
          <div
            :class="['tab', { current: currentTab == '2' }]"
            @click="changeTab('2')"
          >
            进程告警
          </div>
        </div>
        <div class="table-container">
          <el-table
            class="warning-msg-table"
            v-if="tableShow"
            border
            v-loading="isLoading"
            :data="tableData"
            style="width: 100%"
          >
            <el-table-column
              v-for="(item, index) in tableHeadList"
              :key="index"
              align="left"
              :label="item.name"
            >
              <template slot-scope="scope">
                <span>{{ scope.row[item.value] }}</span>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
    </div>
  </baseView>
</template>

<script>
import axios from "axios";
import baseView from "@/components/baseView.vue";
export default {
  name: "Canvas",
  components: {
    baseView
  },
  data() {
    return {
      isLoading: false,
      tableShow: true,
      currentTab: "1",
      tableData: [],
      tableHeadList: [{ name: "head1" }]
    };
  },
  created() {},
  mounted() {
    this.getTableInit();
  },
  methods: {
    changeTab(t) {
      if (this.currentTab === t) {
        return;
      }
      this.tableShow = false;
      this.currentTab = t;
      setTimeout(() => {
        this.getTableInit();
        this.tableShow = true;
      }, 0);
    },
    getTableInit() {
      this.getTableHead();
      this.getTableData();
    },
    getTableData() {
      if (this.currentTab == "1") {
        this.tableData = [
          {
            index: 1,
            module: "my-module1",
            host: "191.168.1.1",
            msg: "进程已停止运行"
          },
          {
            index: 2,
            module: "my-module2",
            host: "191.168.1.2",
            msg: "进程已停止运行"
          }
        ];
      } else {
        this.tableData = [
          {
            index: 1,
            module: "my-module2",
            date: "2020-08-23 17:21:22",
            level: "ERROR",
            host: "191.168.1.5",
            msg: "进程已停止运行"
          },
          {
            index: 2,
            module: "my-module1",
            date: "2020-08-22 17:21:22",
            level: "ERROR",
            host: "191.168.1.2",
            msg: "进程已停止运行"
          }
        ];
      }
    },
    getTableHead() {
      if (this.currentTab == "1") {
        this.tableHeadList = [
          { name: "序号", value: "index" },
          { name: "模块", value: "module" },
          { name: "主机", value: "host" },
          { name: "告警信息", value: "msg" }
        ];
      } else {
        this.tableHeadList = [
          { name: "序号", value: "index" },
          { name: "时间", value: "date" },
          { name: "告警级别", value: "level" },
          { name: "告警信息", value: "msg" },
          { name: "模块", value: "module" },
          { name: "主机", value: "host" }
        ];
      }
    }
  }
};
</script>
<style lang="less" scoped>
.dce-title {
  width: 400px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  margin: 40px 0;
  background-color: #4682b4;
}

.warning-msg-container .tab-bar {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #ccc;
}
.warning-msg-container .tab-bar .tab {
  width: 200px;
  line-height: 50px;
  height: 50px;
  color: #fff;
  background-color: #4682b4;
  cursor: pointer;
}
.warning-msg-container .tab-bar .tab.current {
  background-color: #1e90ff;
}
/*table*/
.table-container {
  width: 100%;
  height: 600px;
}
.warning-msg-table {
  background-color: #4682b4;
}
/* 表格 */
.content-container /deep/ .table-container tr {
  background-color: #4682b4;
  color: #fff;
}
.content-container /deep/ .table-container tr:hover td {
  background-color: #1e90ff;
}
.content-container /deep/ .table-container th {
  background-color: #1e90ff;
  color: #fff;
}
</style>
