<template>
  <baseView>
    <div slot="main">
      <div class="kafka-topic-container content-container">
        <div class="title dce-title">1.4. Kafka topic消费状态</div>
        <div class="tool-bar">
          <el-select
            class="common-select"
            v-model="topic"
            placeholder="全部"
            @change="selectChange"
          >
            <el-option
              v-for="item in topicArr"
              :key="item.value"
              :label="item.name"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </div>
        <div class="table-container">
          <el-table
            v-loading="isLoading"
            border
            :data="tableData"
            row-class-name="table-row-style"
            style="width: 100%"
          >
            <el-table-column
              v-for="(item, index) in tableHeadList"
              :key="index"
              align="left"
              :label="item.name"
            >
              <template slot-scope="scope">
                <span>{{ scope.row[item.value] }}</span>
              </template>
            </el-table-column>
          </el-table>
          <vxe-table border="inner" :data="tableData">
            <vxe-table-column
              field="index"
              width="60"
              title="序号"
            ></vxe-table-column>
            <vxe-table-column field="GROUP" title="姓名"></vxe-table-column>
            <vxe-table-column field="TOPIC" title="性别"></vxe-table-column>
            <vxe-table-column field="PARTITION" title="籍贯"></vxe-table-column>
          </vxe-table>
        </div>
      </div>
    </div>
  </baseView>
</template>

<script>
import baseView from "@/components/baseView.vue";
export default {
  name: "Canvas",
  components: {
    baseView
  },
  data() {
    return {
      topic: 0,
      topicArr: [],
      isLoading: false,
      tableHeadList: [],
      tableData: []
    };
  },
  created() {},
  mounted() {
    this.getTableInit();
    this.getTopicData();
  },
  methods: {
    getTableInit() {
      this.getTableHead();
      this.getTableData();
    },
    getTopicData() {
      this.$http.get("http://127.0.0.1:8000/api/topic/").then(res => {
        if (res && res.data && res.data.results) {
          let resArr = res.data.results || [];
          resArr.unshift({
            name: "全部",
            value: 0
          });
          this.topicArr = resArr;
        }
      });
    },
    getTableData() {
      this.$http.get("http://127.0.0.1:8000/api/list/").then(res => {
        if (res && res.data && res.data.results) {
          this.tableData = res.data.results || [];
        }
      });
    },
    getTableHead() {
      this.tableHeadList = [
        { name: "序号", value: "index" },
        { name: "GROUP", value: "GROUP" },
        { name: "TOPIC", value: "TOPIC" },
        { name: "PARTITION", value: "PARTITION" },
        { name: "CURRENT-OFFSET", value: "CURRENT-OFFSET" },
        { name: "LOG-END-OFFSET", value: "LOG-END-OFFSET" },
        { name: "LAG", value: "LAG" },
        { name: "HOST", value: "HOST" },
        { name: "CLIENT-ID", value: "CLIENT-ID" }
      ];
    },
    selectChange() {
      console.log(this.topic);
      this.getTableData();
    }
  }
};
</script>
<style lang="css" scoped>
.dce-title {
  width: 400px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  margin: 40px 0;
  background-color: #4682b4;
}
.content-container {
  width: 98%;
  margin: 0 auto;
}
.content-container .tool-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.content-container .tool-bar .common-select {
  width: 200px;
  height: 30px;
}
.content-container .tool-bar .common-select /deep/ input {
  width: 200px;
  height: 30px;
  background-color: #4682b4;
  color: #fff;
  border-color: #ccc;
}
.content-container .tool-bar .common-select /deep/ .el-input__suffix i {
  line-height: 30px;
}
.content-container .table-container {
  width: 100%;
  height: 600px;
  margin-top: 20px;
}
.content-container /deep/ .table-container tr {
  background-color: #4682b4;
  color: #fff;
}
.content-container /deep/ .table-container tr:hover td {
  background-color: #1e90ff;
}
.content-container /deep/ .table-container th {
  background-color: #1e90ff;
  color: #fff;
}
</style>
