<template>
  <baseView>
    <div slot="main">
      <div class="cpu-memo-container content-container">
        <div class="title dce-title">1.11. 进程运行状态</div>
        <div class="table-container settle-process-table">
          <div class="table-title">进程运行状态</div>
          <el-table
            v-loading="isLoading"
            :height="560"
            border
            :data="tableData"
            row-class-name="table-row-style"
            :row-style="setStatusColor"
            style="width: 100%;background-color:transparent"
          >
            <el-table-column
              v-for="(item, index) in tableHeadList"
              :key="index"
              :align="item.align || 'center'"
              :label="item.name"
              :width="item.width || 'auto'"
            >
              <template slot-scope="scope">
                <span>{{ scope.row[item.value] }}</span>
              </template>
            </el-table-column>
          </el-table>

          <!-- <vxe-grid
            border
            resizable
            height="300"
            :align="allAlign"
            :columns="tableColumn"
            :toolbar-config="{ slots: { buttons: 'toolbar_buttons' } }"
            :data="tableData"
          >
            <template v-slot:toolbar_buttons>
              <vxe-button @click="allAlign = 'left'">居左</vxe-button>
              <vxe-button @click="allAlign = 'center'">居中</vxe-button>
              <vxe-button @click="allAlign = 'right'">居右</vxe-button>
            </template>
          </vxe-grid> -->
        </div>
      </div>
    </div>
  </baseView>
</template>

<script>
import axios from "axios";
import baseView from "@/components/baseView.vue";

export default {
  name: "Canvas",
  components: {
    baseView
  },
  data() {
    return {
      isLoading: false,
      tableHeadList: [
        { name: "序号", value: "index", width: "100px" },
        { name: "模块名", value: "module", width: "auto" },
        { name: "当前状态开始时间", value: "startTime", width: "250px" },
        { name: "IP", value: "IP", width: "250px" },
        { name: "运行状态", value: "status", width: "auto" }
      ],
      defaultSearchDate: "",
      allAlign: null,
      tableColumn: [
        { type: "seq", width: 50 },
        { field: "name", title: "app.body.label.name", width: 520 },
        { field: "sex", title: "app.body.label.sex", showHeaderOverflow: true },
        { field: "address", title: "Address", showOverflow: true }
      ],
      tableData: [
        {
          id: 10001,
          name: "Test1",
          nickname: "T1",
          role: "Develop",
          sex: "Man",
          age: 28,
          address: "Shenzhen"
        },
        {
          id: 10002,
          name: "Test2",
          nickname: "T2",
          role: "Test",
          sex: "Women",
          age: 22,
          address: "Guangzhou"
        },
        {
          id: 10003,
          name: "Test3",
          nickname: "T3",
          role: "PM",
          sex: "Man",
          age: 32,
          address: "Shanghai"
        },
        {
          id: 10004,
          name: "Test4",
          nickname: "T4",
          role: "Designer",
          sex: "Women ",
          age: 23,
          address: "Shenzhen"
        },
        {
          id: 10005,
          name: "Test5",
          nickname: "T5",
          role: "Develop",
          sex: "Women ",
          age: 30,
          address: "Shanghai"
        },
        {
          id: 10006,
          name: "Test6",
          nickname: "T6",
          role: "Designer",
          sex: "Women ",
          age: 21,
          address: "Shenzhen"
        },
        {
          id: 10007,
          name: "Test7",
          nickname: "T7",
          role: "Test",
          sex: "Man ",
          age: 29,
          address: "Shenzhen"
        },
        {
          id: 10008,
          name: "Test8",
          nickname: "T8",
          role: "Develop",
          sex: "Man ",
          age: 35,
          address: "Shenzhen"
        }
      ]
    };
  },
  created() {
    this.defaultSearchDate = new Date(
      `${new Date().toLocaleDateString()},16:00:00`
    );
  },
  mounted() {
    this.initData();
    this.getTimeStamp();
  },
  methods: {
    initData() {
      let a = new Date().getTime();
      console.log(a);
      this.tableData = [
        {
          index: 0,
          module: "drtp",
          startTime: "2022-08-30",
          IP: "168.1.11.1",
          status: "正常启动"
        },
        {
          index: 1,
          module: "drtp",
          startTime: "2022-08-31",
          IP: "168.1.11.2",
          status: "正常启动"
        },
        {
          index: 2,
          module: "drtp",
          startTime: "2022-09-01",
          IP: "168.1.11.1",
          status: "停止运行"
        },
        {
          index: 3,
          module: "drtp",
          startTime: "2022-09-03",
          IP: "168.1.11.1",
          status: ""
        }
      ];
      for (let index = 0; index < 5; index++) {
        let newObj = {
          index: index,
          module: "drtp",
          startTime: "2022-08-30",
          IP: "168.1.11.1",
          status: ""
        };
        this.tableData.push(newObj);
      }
    },
    getTimeStamp() {
      let a = new Date().getTime();
      console.log(a);
    },
    setStatusColor(rowInfo, rowIndex) {
      let row = rowInfo.row;
      if (row.status == "") {
        return { "background-color": "rgba(220,220,220,0.4)" };
      } else if (row.status == "正常启动") {
        return { "background-color": "rgba(41,36,33,0.4)" };
      } else if (row.status == "停止运行") {
        return { "background-color": "rgba(176,23,31,0.4)" };
      }
    }
  }
};
</script>
<style lang="less" scoped>
@import "./dce-common-style.css";
.cpu-memo-container {
  background: rgb(5, 5, 5);
}
.table-container {
  margin-top: 40px;
  .table-title {
    font-size: 18px;
    margin: 10px 0;
    color: #fff;
    text-align: left;
  }
}

/* 表格 */

.content-container /deep/ .table-container tr {
  color: #fff;
}
.content-container /deep/ .table-container tr:hover td {
  background-color: transparent;
}
.content-container /deep/ .table-container th {
  background-color: #1e90ff;
  color: #fff;
}
</style>
