<template>
  <baseView>
    <div slot="main">
      <div class="cpu-memo-container content-container">
        <div class="title dce-title">CPU、内存使用率</div>
        <div class="chart-con">
          <div
            class="chart-list"
            v-for="(item, index) in chartList"
            :id="`chart${index}`"
            :key="index"
          ></div>
        </div>
      </div>
    </div>
  </baseView>
</template>

<script>
import axios from "axios";
import baseView from "@/components/baseView.vue";
import * as echarts from "echarts";
const dayHours = () => {
  let dH = [];
  for (let i = 1; i < 25; i++) {
    dH.push(i + ":00");
  }
  return [
    "00:00",
    "01:15",
    "02:30",
    "03:45",
    "05:00",
    "06:15",
    "07:30",
    "08:45",
    "10:00",
    "11:15",
    "12:30",
    "13:45",
    "15:00",
    "16:15",
    "17:30",
    "18:45",
    "20:00",
    "21:15",
    "22:30",
    "23:45"
  ];
  // return dH;
};
export default {
  name: "Canvas",
  components: {
    baseView
  },
  data() {
    return {
      chartList: [],
      option: {
        title: {
          text: "主机",
          top: 15,
          left: 10,
          textStyle: {
            color: "#fff"
          }
        },
        xAxis: {
          type: "category",
          name: "时", //坐标名字

          nameLocation: "end",
          axisLine: {
            lineStyle: { color: "#fff" }
          },
          axisLabel: { interval: 0 },
          axisTick: {
            show: false
          },
          data: dayHours()
        },
        yAxis: {
          type: "value",
          axisLine: {
            lineStyle: { color: "#fff" }
          },
          axisLabel: {
            formatter: "{value}%"
          }
        },
        // x轴拖动
        dataZoom: [
          {
            type: "inside",
            realtime: true, //拖动滚动条时是否动态的更新图表数据
            height: 25, //滚动条高度
            start: 0, //滚动条开始位置（共100等份）
            end: 65 //结束位置（共100等份）
          }
        ],
        tooltip: {
          show: true,
          backgroundColor: "#4169e1",
          borderColor: "#4169e1",
          textStyle: {
            color: "#fff",
            align: "left"
          },
          formatter: function(v) {
            console.log(v);
            return `<span>2000年<span> <br>
            <span>数据名称 &nbsp; &nbsp;  ${v.value}s<span>`;
          }
        },
        series: [
          {
            data: [],
            type: "line",
            lineStyle: {
              normal: {
                color: "#32c7c7"
              }
            }
          }
        ]
      }
    };
  },
  created() {},
  mounted() {
    this.getChartData();
  },
  methods: {
    initChart() {
      this.chartList.forEach((i, index) => {
        let chartDom = document.getElementById(`chart${index}`);
        let myChart = echarts.init(chartDom);
        let op = this.option;
        op.series[0].data = i.data;
        myChart.setOption(op);
      });
    },
    getChartData() {
      for (let i = 0; i < 12; i++) {
        //test
        let testData = [];
        for (let j = 0; j < 24; j++) {
          let rate = Math.floor(Math.random() * (100 - 1) + 1);
          testData.push(rate);
        }
        let op = { id: i, data: testData };
        this.chartList.push(op);
      }
      setTimeout(() => {
        this.initChart();
      }, 0);
    }
  }
};
</script>
<style lang="less" scoped>
.dce-title {
  width: 400px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  margin: 40px 0;
  background-color: #4682b4;
}
.content-container {
  width: 98%;
  margin: 0 auto;
}
.cpu-memo-container .chart-con {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cpu-memo-container .chart-con .chart-list {
  width: 49.5%;
  height: 380px;
  margin-bottom: 12px;
  background-color: #4682b4;
}
</style>
