<template>
  <baseView>
    <div slot="main">
      <div class="cpu-memo-container content-container">
        <div class="title dce-title">1.7. cpu内存使用率查询</div>
        <div class="tool-bar">
          <el-form
            ref="formItem"
            :inline="true"
            class="el-form-tool-bar"
            :model="formItem"
            :rules="rulesForm"
            label-width="80px"
            label-position="left"
          >
            <el-form-item
              class="common-input-content"
              label="主机"
              label-width="40px"
            >
              <el-select
                class="common-select"
                v-model="formItem.host"
                placeholder="全部"
                @change="selectChange"
              >
                <el-option
                  v-for="item in hostArr"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                >
                </el-option>
              </el-select>
            </el-form-item>

            <el-form-item
              class="common-input-content"
              label="交易日期"
              prop="tradeDate"
            >
              <el-select
                class="common-select"
                v-model="formItem.tradeDate"
                placeholder=""
                @change="selectChange"
              >
                <el-option
                  v-for="item in tradeDateArr"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                >
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item
              class="common-input-content"
              label="开始时间"
              prop="startTime"
            >
              <el-date-picker
                v-model="formItem.startTime"
                class="common-select"
                format="yyyy-MM-dd HH:mm"
                type="datetime"
                :default-value="defaultSearchDate"
                placeholder="选择日期时间"
                @change="selectChange"
              >
              </el-date-picker>
            </el-form-item>
            <el-form-item
              class="common-input-content"
              label="结束时间"
              prop="endTime"
            >
              <el-date-picker
                v-model="formItem.endTime"
                class="common-select"
                format="yyyy-MM-dd HH:mm"
                type="datetime"
                :default-value="defaultSearchDate"
                placeholder="选择日期时间"
                @change="selectChange"
              >
              </el-date-picker>
            </el-form-item>
          </el-form>
        </div>
        <div class="chart-con">
          <div class="chart" id="chart"></div>
        </div>
      </div>
    </div>
  </baseView>
</template>

<script>
import axios from "axios";
import baseView from "@/components/baseView.vue";
import * as echarts from "echarts";

export default {
  name: "Canvas",
  components: {
    baseView
  },
  data() {
    // form表单自定义验证规则，开始时间不可大于结束时间
    var startTimeRules = (rule, value, callback) => {
      if (!value) {
        callback(new Error("请选择开始时间"));
      } else {
        if (this.timeCompare()) {
          callback(new Error("开始时间必须小于结束时间"));
        } else {
          callback();
        }
      }
    };
    // 结束时间不可小于开始时间
    var endTimeRules = (rule, value, callback) => {
      if (!value) {
        callback(new Error("请选择结束时间"));
      } else {
        if (this.timeCompare()) {
          callback(new Error("结束时间必须大于开始时间"));
        } else {
          callback();
        }
      }
    };
    return {
      hostArr: [],
      tradeDateArr: [],
      formItem: {
        host: 1,
        tradeDate: "",
        startTime: "",
        endTime: ""
      },
      rulesForm: {
        tradeDate: [{ required: true }],
        startTime: [
          { required: true, validator: startTimeRules, trigger: "change" }
        ],
        endTime: [
          { required: true, validator: endTimeRules, trigger: "change" }
        ]
      },
      defaultSearchDate: "",
      option: {
        xAxis: {
          type: "category",
          axisLine: {
            lineStyle: { color: "#fff" }
          },
          axisLabel: { interval: 0 },
          axisTick: {
            show: false
          },
          data: []
        },
        yAxis: {
          type: "value",
          axisLine: {
            lineStyle: { color: "#fff" }
          },
          axisLabel: {
            formatter: "{value}%"
          }
        },
        // x轴拖动
        dataZoom: [
          {
            type: "slider",
            realtime: true, //拖动滚动条时是否动态的更新图表数据
            height: 5, //滚动条高度
            start: 0, //滚动条开始位置（共100等份）
            end: 10 //结束位置（共100等份）
          }
        ],
        tooltip: {
          show: true,
          backgroundColor: "#4169e1",
          borderColor: "#4169e1",
          textStyle: {
            color: "#fff",
            align: "left"
          },
          formatter: function(v) {
            console.log(v);
            return `<span>2000年<span> <br>
            <span>数据名称 &nbsp; &nbsp;  ${v.value}s<span>`;
          }
        },
        series: [
          {
            data: [],
            type: "line",
            lineStyle: {
              normal: {
                color: "#32c7c7"
              }
            }
          }
        ]
      }
    };
  },
  created() {
    this.defaultSearchDate = new Date(
      `${new Date().toLocaleDateString()},16:00:00`
    );
    this.formItem.startTime = this.defaultSearchDate;
    this.formItem.endTime = this.defaultSearchDate;
  },
  mounted() {
    this.initData();
  },
  methods: {
    initData() {
      this.getHost();
      this.getTradeDate();
      this.initChart();
    },
    getChartData() {
      let testArr = [];
      // this.$http.get("http://127.0.0.1:8000/api/cpu-ram/").then(res => {
      //   if (res && res.data && res.data.results) {
      //     testArr = res.data.results || [];
      //   }
      // });
      for (let i = 0; i < 24; i++) {
        testArr.push(i + 50);
      }
      return testArr;
    },
    initChart() {
      let chartDom = document.getElementById("chart");
      let myChart = echarts.init(chartDom);
      let op = this.option;
      op.series[0].data = this.getChartData();
      op.xAxis.data = this.dayHours();
      setTimeout(() => {
        myChart.setOption(op);
      }, 0);
    },
    getHost() {
      this.hostArr = [{ label: "主机1", value: 1 }];
    },
    getTradeDate() {
      this.formItem.tradeDate = this.formatDate(new Date());
    },
    selectChange() {
      if (this.timeCompare()) {
        return;
      }
      this.initChart();
    },
    timeCompare() {
      let endDate = new Date(this.formItem.endTime);
      let endGetTime = endDate.getTime();
      let startDate = new Date(this.formItem.startTime);
      let startGetTime = startDate.getTime();
      if (startGetTime != 0 && endGetTime != 0 && startGetTime > endGetTime) {
        return true;
      }
    },
    dayHours() {
      let dH = [];
      let gapT =
        this.formItem.endTime.getTime() - this.formItem.startTime.getTime();
      if (gapT >= 0) {
        let gapH = Math.ceil(gapT / 1000 / 60 / 60);
        gapH = gapH > 24 || gapH == 0 ? 24 : gapH;
        for (let i = 1; i < gapH + 1; i++) {
          dH.push(i + ":00");
        }
        return dH;
      } else {
        return [];
      }
    },
    formatDate(date) {
      let y = date.getFullYear();
      let m = date.getMonth() + 1;
      m = m < 10 ? "0" + m : m;
      let d = date.getDate();
      d = d < 10 ? "0" + d : d;
      return y + m + d;
    }
  }
};
</script>
<style lang="less" scoped>
@import "./dce-common-style.css";
.cpu-memo-container {
  background: #4682b4;
}
.common-input-content {
  margin: 12px 24px;
}
#chart {
  width: 100%;
  height: 600px;
}
</style>
