<template>
  <baseView>
    <div slot="main">
      <div class="kafka-topic-container content-container">
        <div class="title dce-title">1.6. 数据库写入状态</div>
        <div class="table-container">
          <el-table
            v-loading="isLoading"
            border
            :data="tableData"
            row-class-name="table-row-style"
            style="width: 100%"
          >
            <el-table-column
              v-for="(item, index) in tableHeadList"
              :key="index"
              align="left"
              :label="item.name"
            >
              <template slot-scope="scope">
                <span>{{ scope.row[item.value] }}</span>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
    </div>
  </baseView>
</template>

<script>
import axios from "axios";
import baseView from "@/components/baseView.vue";
export default {
  name: "Canvas",
  components: {
    baseView
  },
  data() {
    return {
      isLoading: false,
      tableHeadList: [],
      tableData: []
    };
  },
  created() {},
  mounted() {
    this.getTableInit();
  },
  methods: {
    getTableInit() {
      this.getTableHead();
      this.getTableData();
    },
    getTableData() {
      this.tableData = [
        {
          index: 1,
          timeStamp: "2022-08-01 12:00:00",
          sqlName: "sqal",
          fucntionName: "查询入库",
          insertNum: "23"
        }
      ];
    },
    getTableHead() {
      this.tableHeadList = [
        { name: "序号", value: "index" },
        { name: "时间戳", value: "timeStamp" },
        { name: "表名", value: "sqlName" },
        { name: "写库功能名", value: "fucntionName" },
        { name: "写入条数", value: "insertNum" }
      ];
    },
    selectChange() {
      this.getTableData();
    }
  }
};
</script>
<style lang="less" scoped>
.dce-title {
  width: 400px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  margin: 40px 0;
  background-color: #4682b4;
}
.content-container {
  width: 98%;
  margin: 0 auto;
}
.content-container .table-container {
  width: 100%;
  height: 600px;
  margin-top: 20px;
}
.content-container /deep/ .table-container tr {
  background-color: #4682b4;
  color: #fff;
}
.content-container /deep/ .table-container tr:hover td {
  background-color: #1e90ff;
}
.content-container /deep/ .table-container th {
  background-color: #1e90ff;
  color: #fff;
}
</style>
