<template>
  <baseView>
    <div slot="main">
      <div class="alarm-info-container content-container">
        <div class="title dce-title">1.9. 告警信息查询</div>
        <div class="tool-bar">
          <el-form
            ref="formItem"
            :inline="true"
            class="el-form-tool-bar"
            :model="formItem"
            :rules="rulesForm"
            label-width="80px"
            label-position="left"
          >
            <el-form-item class="common-input-content" label="类型 ">
              <el-select
                class="common-select"
                v-model="formItem.type"
                placeholder="全部"
                @change="selectChange"
              >
                <el-option
                  v-for="item in typeArr"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                >
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item class="common-input-content" label="模块">
              <el-select
                class="common-select"
                v-model="formItem.mode"
                placeholder="全部"
                @change="selectChange"
              >
                <el-option
                  v-for="item in modeArr"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                >
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item
              class="common-input-content"
              label="交易日期"
              prop="tradeDate"
            >
              <el-select
                class="common-select"
                v-model="formItem.tradeDate"
                placeholder=""
                @change="selectChange"
              >
                <el-option
                  v-for="item in tradeDateArr"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                >
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item
              class="common-input-content"
              label="开始时间"
              prop="startTime"
            >
              <el-date-picker
                v-model="formItem.startTime"
                class="common-select"
                format="yyyy-MM-dd HH:mm"
                type="datetime"
                :default-value="defaultSearchDate"
                placeholder="选择日期时间"
                @change="selectChange"
              >
              </el-date-picker>
            </el-form-item>
            <el-form-item
              class="common-input-content"
              label="结束时间"
              prop="endTime"
            >
              <el-date-picker
                v-model="formItem.endTime"
                class="common-select"
                format="yyyy-MM-dd HH:mm"
                type="datetime"
                :default-value="defaultSearchDate"
                placeholder="选择日期时间"
                @change="selectChange"
              >
              </el-date-picker>
            </el-form-item>
            <el-button
              class="search-btn"
              size="small"
              type="primary"
              @click="searchData"
              >查询</el-button
            >
          </el-form>
        </div>
        <div class="table-container alarm-info-table">
          <div class="table-title">告警详情</div>
          <el-table
            v-loading="isLoading"
            border
            :data="tableData"
            row-class-name="table-row-style"
            :header-cell-style="{ 'text-align': 'center' }"
            style="width: 100%"
          >
            <el-table-column
              v-for="(item, index) in tableHeadList"
              :key="index"
              :align="item.align || 'center'"
              :label="item.name"
            >
              <template slot-scope="scope">
                <span>{{ scope.row[item.value] }}</span>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
    </div>
  </baseView>
</template>

<script>
import axios from "axios";
import baseView from "@/components/baseView.vue";
export default {
  name: "Canvas",
  components: {
    baseView
  },
  data() {
    // form表单自定义验证规则，开始时间不可大于结束时间
    var startTimeRules = (rule, value, callback) => {
      if (!value) {
        callback(new Error("请选择开始时间"));
      } else {
        if (this.timeCompare()) {
          callback(new Error("开始时间必须小于结束时间"));
        } else {
          callback();
        }
      }
    };
    // 结束时间不可小于开始时间
    var endTimeRules = (rule, value, callback) => {
      if (!value) {
        callback(new Error("请选择结束时间"));
      } else {
        if (this.timeCompare()) {
          callback(new Error("结束时间必须大于开始时间"));
        } else {
          callback();
        }
      }
    };
    return {
      isLoading: false,
      tableData: [],
      tableHeadList: [
        { name: "序号", value: "index" },
        { name: "时间", value: "date" },
        { name: "告警类型", value: "type" },
        { name: "IP", value: "IP" },
        { name: "模块", value: "module" },
        { name: "错误代码", value: "errCode" },
        { name: "错误信息", value: "errMsg", align: "left" }
      ],
      modeArr: [{ label: "全部", value: 0 }],
      typeArr: [{ label: "全部", value: 0 }],
      formItem: {
        mode: 0,
        type: 0,
        tradeDate: "",
        startTime: "",
        endTime: ""
      },
      tradeDateArr: [],
      rulesForm: {
        tradeDate: [{ required: true }],
        startTime: [
          { required: true, validator: startTimeRules, trigger: "change" }
        ],
        endTime: [
          { required: true, validator: endTimeRules, trigger: "change" }
        ]
      },
      defaultSearchDate: ""
    };
  },
  created() {
    this.defaultSearchDate = new Date(
      `${new Date().toLocaleDateString()},16:00:00`
    );
    this.formItem.startTime = this.defaultSearchDate;
    this.formItem.endTime = this.defaultSearchDate;
  },
  mounted() {
    this.initData();
  },
  methods: {
    initData() {
      this.getTradeDate();
      this.searchData();
    },
    getTradeDate() {
      this.formItem.tradeDate = this.formatDate(new Date());
    },
    formatDate(date) {
      let y = date.getFullYear();
      let m = date.getMonth() + 1;
      m = m < 10 ? "0" + m : m;
      let d = date.getDate();
      d = d < 10 ? "0" + d : d;
      return y + m + d;
    },
    selectChange() {},
    searchData() {
      this.tableData = [
        {
          index: 0,
          date: "2022-08-08 16:12:52",
          type: "ERROR",
          IP: "192.168.1.1",
          module: "mode1",
          errCode: "227",
          errMsg: "moneyTask  最后出金结束，任务结束"
        }
      ];
    }
  }
};
</script>
<style lang="less" scoped>
@import "./dce-common-style.css";
.alarm-info-container {
  background: #4682b4;
}
.common-input-content {
  margin: 12px 24px;
}
.table-container {
  margin-top: 40px;
  .table-title {
    font-size: 18px;
    margin: 10px 0;
    color: #fff;
    text-align: left;
  }
}
/* 表格 */
.content-container /deep/ .table-container tr {
  background-color: #4682b4;
  color: #fff;
}
.content-container /deep/ .table-container tr:hover td {
  background-color: #1e90ff;
}
.content-container /deep/ .table-container th {
  background-color: #1e90ff;
  color: #fff;
}
</style>
