<template>
  <div class="home">
    <el-container>
      <el-header>
        <Header></Header>
      </el-header>
      <el-container>
        <el-aside :style="{ height: windowHeight }">
          <Nav></Nav>
        </el-aside>
        <el-container>
          <el-main>
            <slot name="main"></slot>
          </el-main>
        </el-container>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import Header from "@/components/header.vue";
import Nav from "@/components/nav.vue";
export default {
  name: "baseView",
  components: {
    Header,
    Nav
  },
  data() {
    return {
      windowHeight: 0
    };
  },
  created() {
    this.windowHeight = window.innerHeight;
  },
  mounted() {},
  methods: {}
};
</script>
<style lang="less" scoped>
.el-main {
  padding: 0;
}
.el-header {
  padding: 0;
  height: auto !important;
}
.el-slide {
  width: 200px;
}
</style>
