<template>
  <div class="my-header"></div>
</template>

<script>
export default {
  name: "Header",
  components: {},
  created() {},
  mounted() {},
  methods: {}
};
</script>
<style lang="less" scoped>
.my-header {
  width: 100%;
  height: 30px;
  padding: 0;
  background-color: #28b1a3;
  color: #333;
}
</style>
