<template>
  <div class="nav" :style="{ height: windowHeight - 30 + 'px' }">
    <el-menu router :default-active="$route.name">
      <el-submenu index="1">
        <template slot="title">
          <el-row>
            <i class="el-icon-menu"></i>
            <span>menu</span>
          </el-row>
        </template>
        <el-menu-item-group>
          <div v-for="i in routerArr" :key="i.name">
            <el-menu-item
              :index="i.name"
              :route="{
                name: i.name,
                path: i.path
              }"
            >
              <span>{{ i.name }}</span>
            </el-menu-item>
          </div>
        </el-menu-item-group>
      </el-submenu>
    </el-menu>
  </div>
</template>
<script>
import routes from "@/router/router";
export default {
  name: "Nav",
  components: {},
  data() {
    return {
      defaultActive: "",
      routerArr: []
    };
  },
  created() {
    this.windowHeight = window.innerHeight;
  },
  mounted() {
    this.routerArr = routes;
  },
  methods: {
    pageTo(page) {
      // if (page === this.$route.name) {
      //   return;
      // }
      // this.$router.push({ name: page, path: `/${page}` });
    }
  }
};
</script>
<style scoped>
.nav {
  background-color: #fef8ff;
}
.nav >>> .el-menu {
  background-color: #fef8ff;
}
.nav >>> .el-menu-item:focus,
.nav >>> .el-menu-item:hover {
  color: #fff;
  background-color: #81deb8;
}
.nav >>> .el-menu-item:hover .el-submenu__title i {
  color: #fff;
}
.nav >>> .el-menu-item.is-active {
  background-color: #81deb8;
  color: #fff;
}
</style>
